# DB
POSTGRES_HOST=database
POSTGRES_USER=user
POSTGRES_PORT=5432
POSTGRES_PASSWORD=password
POSTGRES_DB=database_name

# Backend
JWT_SECRET=secret_key
NODE_ENV=production
BACKEND_PORT=4000

# Frontend
FRONTEND_PORT=8081
